<div class="login-form">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()"> <!-- Add [formGroup]="loginForm" here -->
        <div>
            <label for="logInString">Username or Email</label>
            <input type="text" id="logInString" formControlName="logInString" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</div>