.feed-page {
  display: flex;

  .posts-section {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--background-color);

    .add-post-form {
      margin-bottom: 20px;
    }

    .post {
      margin-bottom: 20px;
      border: 1px solid var(--secondary-color);
      border-radius: 8px;
      overflow: hidden;

      .image-container {
        width: 300px;
        height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          margin: auto;
        }
      }

      .post-caption {
        padding: 10px;
        color: var(--text-color);
        font-size: 14px;
      }

      button {
        cursor: pointer;
        padding: 5px 10px;
        margin: 10px;
      }
    }
  }
}

.feed-page {

  display: flex;

 

  .posts-section {

    flex-grow: 1;

    padding: 20px;

    background-color: var(--background-color);

 

    .add-post-form {

      margin-bottom: 20px;

    }

 

    .post {

      margin-bottom: 20px;

      border: 1px solid var(--secondary-color);

      border-radius: 8px;

      overflow: hidden;

 

      .image-container {

        width: 300px;

        height: 300px;

        overflow: hidden;

        display: flex;

        align-items: center;

 

        img {

          max-width: 100%;

          max-height: 100%;

          object-fit: contain;

          margin: auto;

        }

      }

 

      .post-caption {

        padding: 10px;

        color: var(--text-color);

        font-size: 14px;

      }

 

      button {

        cursor: pointer;

        padding: 5px 10px;

        margin: 10px;

      }

    }

  }

}