.profile-container {
    display: flex;
    align-items: flex-start;
    top: 10%;
    left: 10%;
  }
  
  .profile-container img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }
  
  .profile-content {
    margin-left: 20px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
  }
  
  .profile-info {
    margin-top: 20px;
  }
  
  .edit {
    border-radius: 40px;
    width: 60%;
    height: auto;
    background-color: var(--text-color);
    border: none;
    font-size: larger;
    color: white;
    margin-top: 20px;
  }
  