<div class="profile-container">
    <app-sidebar></app-sidebar>
    <div class="profile-content">
      
      <div class="profile-info">
        <img [src]="profileImageUrl" alt="Profile Image">

      </div>
      <div class="user_info">
        <h2>{{ username }}</h2>
        <p>{{ firstname }} {{lastname}}</p>
      </div>
      <button class="edit" (click)="editProfile()">Edit</button>

    </div>
    <div class="additional-content">
      <h1> News from friends </h1>
      <div class="news-item news-item-1">
        <p>User123 posted a song</p>
        <p>User456 shared a photo</p>
      </div>
  </div>
