<div class="request-container">
    <app-sidebar></app-sidebar>
    <div class="friend-requests">
      <h2>Friend Requests</h2>
      <div *ngFor="let request of friendRequests">
        {{ request.sender }} has requested to follow you
        <button (click)="acceptFriendRequest(request)">Accept</button>
        <button (click)="rejectFriendRequest(request)">Reject</button>
      </div>
      <ng-template #noRequests>
        <div *ngIf="friendRequestsNotFound">
          No friend requests found for this user.
        </div>
      </ng-template>
       <!-- Display Friends -->
  <div class="friends">
    <h2>Friends</h2>
    <div *ngFor="let friend of friends">
      {{ friend.username }} <!-- Replace 'username' with the actual property name for username -->
    </div>
  </div>
    </div>
   <div class="activity-notifications">
    <div class="friend-request-form">
      <h2>Add Friend</h2>
      <form  #friendRequestForm="ngForm">
        <div class="form-group">
          <label for="receiver">Friend's Username:</label>
          <input type="text" id="receiver" name="receiver" [(ngModel)]="receiver" required>
        </div>
        <button type="submit" (click)="sendFriendRequest()">Add Friend</button>
      </form>
    </div>
  </div> 
