.request-container {
    display: flex;
    justify-content: space-between; 
  }
  
  .friend-requests {
    flex: 1; 
    background-color: var(--accent-color-1);
    color: var(--background-color); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 7%;
    margin-top: 3%;
    margin-bottom: 3%
  }
  
  .activity-notifications {
    flex: 1; 
    background-color: var(--secondary-color); 
    color: var(--background-color); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 7%;
    margin-right:7%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
.friend-requests div,
.activity-notifications div {
  margin-bottom: 10px; 
  border: 1px solid var(--background-color); 
  padding: 10px; 
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

  .friend-requests h2,
  .activity-notifications h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  /* AddFriendComponent CSS */

.friend-request-form {
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
  border: none !important;
}

.friend-request-form h2 {
   font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--background-color);
    border: none !important; 
}

.form-group {
  margin-bottom: 15px;
  border: none !important;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border: none !important;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  border: none !important;
}

.button-container {
  text-align: center;
  align-items: center;
}

button[type="submit"] {
  background-color: var(--accent-color-1);;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #00b34e;
}
